* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-size: clamp(14px, 1.5vw, 18px);
  scroll-behavior: smooth;
  color: #333;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  height: auto;
}
