.banner {
    position: relative;
    display: flex;
    justify-content: center;

    background-color: #e7e7ea;
}

.bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 6rem;
}

.bannerText h1 {
    margin: 1rem;
    
    font-weight: 700;
    font-size: 90px;
}

.bannerText span {
    font-weight: 300;
}

.bannerText h2 {
    margin: 1rem;

    font-size: 40px;
    font-weight: 300;
    color: #005cff;
}

#discount {
    margin: 0;

    font-weight: 600;
    font-size: 50px;
    color: #005cff;
}